* {
  padding: 0;
  margin: 0;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-weight: 300;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffaf3;
  font-size: larger;
  color: darkslategray;
  top: 0;
}
