.home-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15pt;
}

.home-header {
  font-weight: 500;
  font-style: italic;
  padding: 5pt;
  margin: auto;
}

.nav-icon {
  margin: 0 15pt;
  width: 15pt;
  color: wheat;
}

.logout {
  transform: rotate(180deg);
}

.add-task-button {
  position: absolute;
  right: calc(env(safe-area-inset-right) + 20pt);
  bottom: calc(env(safe-area-inset-bottom) + 20pt);
}