* {
  padding: 0;
  margin: 0;
  font-family: 'Rokkitt', serif;
  font-weight: 300;
}

.App {
  height: 100vh;
  text-align: center;
  background-color: #fffaf3;
}

.button-primary {
  padding: 2pt 4pt;
  border: 0;
  border-radius: 4pt;
  background-color:antiquewhite;
}

.button-destructive {
  padding: 2pt 4pt;
  border: 0;
  border-radius: 4pt;
  background-color:rgb(234, 210, 210);
}