.App {
  text-align: center;
}

.button-primary {
  padding: 4pt 8pt;
  border: 0;
  border-radius: 4pt;
  background-color:antiquewhite;
  color: black;
  margin: 2pt;
}

.button-destructive {
  padding: 4pt 8pt;
  border: 0;
  border-radius: 4pt;
  background-color:rgb(234, 210, 210);
}