.App {
  height: 100vh;
  text-align: center;
}

.button-primary {
  padding: 2pt 4pt;
  border: 0;
  border-radius: 4pt;
  background-color:antiquewhite;
  margin: 2pt;
}

.button-destructive {
  padding: 2pt 4pt;
  border: 0;
  border-radius: 4pt;
  background-color:rgb(234, 210, 210);
}