.dialog-modal-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: absolute;
  border: 0;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(4pt);
}

.dialog-container {
  width: calc(100% - 100pt);
  display: flex;
  flex-direction: column;
  border-radius: 4pt;
  background-color: white;
  box-shadow: 0 4pt 6pt rgba(0,0,0,0.2);
  padding: 10pt;
  margin: 50% auto;
}

.dialog-header {
  margin: 5pt;
}