.progress-bar-container {
  text-align: left;
  padding: 2pt 14pt;
  margin: 4pt 0;
}

.progress-bar-header {
  margin: 2pt;
}

.progress-bar-wrapper {
  height: 4pt;
  background-color: antiquewhite;
  border-radius: 4pt;
}

.progress-bar-meter {
  height: 4pt;
  background-color: lightgreen;
  border-radius: 4pt;
  transition: width 1s ease-out;
}

.buddy {
  background-color: lightblue;
}