.task-container {
  width: 100%;
}

.task-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5pt 35pt;
}

.task-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.task-label {
  display: flex;
  flex-grow: 1;
}

.task-checkbox {
  margin: 4pt 8pt 5pt 0;
  padding: 2pt 4pt;
  border: 0;
  border-radius: 4pt;
  background-color:antiquewhite;
}

.task-icon-wrapper {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0;
}

.icon {
  width: 10pt;
  color: tan;
  margin: 0 4pt 4pt;
}

.small {
  width: 8pt;
  color: tan;
  margin: 0 4pt;
}

.task-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5pt 35pt;
}

.task-detail-wrapper {
  text-align: left;
}

.button-icon {
  width: 10pt;
  color: peru;
  margin: 3pt;
}

.destructive {
  color: salmon;
}

.extra-margin {
  margin-left: 4pt;
}